<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>BolaoDoArmenioTC</display-name>
    <servlet>
        <servlet-name>CadastroFormServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.CadastroFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaioAjaxServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.CaioAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarGrupoServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.CriarGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadGrupo</servlet-name>
        <servlet-class>br.edu.infnet.servlets.CadGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarGrupos</servlet-name>
        <servlet-class>br.edu.infnet.servlets.ListarGruposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGrupo</servlet-name>
        <servlet-class>br.edu.infnet.servlets.ViewGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarMembroGrupo</servlet-name>
        <servlet-class>br.edu.infnet.servlets.AdicionarMembroGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarBolaoServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.IniciarBolaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarBolaoServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.CriarBolaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarBolaoServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.VisualizarBolaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarEstatisticasServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.VerificarEstatisticasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarConcursosServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.AtualizarConcursosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcursoEfetivarAtualizacaoServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.ConcursoEfetivarAtualizacaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarBolaoServlet</servlet-name>
        <url-pattern>/bolao/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroReceiveFormServlet</servlet-name>
        <url-pattern>/cadastro/efetuar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroFormServlet</servlet-name>
        <url-pattern>/cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaioAjaxServlet</servlet-name>
        <url-pattern>/ajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarGrupoServlet</servlet-name>
        <url-pattern>/grupo/criar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadGrupo</servlet-name>
        <url-pattern>/CadGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarGrupos</servlet-name>
        <url-pattern>/grupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGrupo</servlet-name>
        <url-pattern>/grupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarMembroGrupo</servlet-name>
        <url-pattern>/grupo/membro/adicionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarBolaoServlet</servlet-name>
        <url-pattern>/bolao/criar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarBoloesAbertoServlet</servlet-name>
        <url-pattern>/bolao/listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarBolaoServlet</servlet-name>
        <url-pattern>/bolao/atualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarApostasServlet</servlet-name>
        <url-pattern>/apostas/criar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarBolaoServlet</servlet-name>
        <url-pattern>/bolao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarEstatisticasServlet</servlet-name>
        <url-pattern>/estatisticas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarConcursosServlet</servlet-name>
        <url-pattern>/concurso/atualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcursoEfetivarAtualizacaoServlet</servlet-name>
        <url-pattern>/concurso/efetivarAtualizacao</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarBoloesAbertoServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.ListarBoloesAbertoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarBolaoServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.AtualizarBolaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarApostasServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.CriarApostasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TelaPrincipalServlet</display-name>
        <servlet-name>TelaPrincipalServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.TelaPrincipalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroReceiveFormServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.CadastroReceiveFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.edu.infnet.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TelaPrincipalServlet</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
